.mx-4{
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
}
body{
  background-image: radial-gradient(purple,blue);

}
.Container{
  border: 1px solid gray;
  width: 400px;
  background-color: rgb(217, 217, 228);
  border-radius: 10px;
  height: 500px;
  margin-left: 480px;
  margin-top: 40px;
}

.mb-3{
  margin-left: 20px;
}

.col-sm-2 {
  margin-left: 50px;
}

.form-control{
  width: 71% important;
}

.wrapper{
  width: 500px;
  margin-left: 400px;
  background-color: yellowgreen;
  border-radius: 10px;
}

.label1{
  margin-left: 220px;
}

.mx-7{
  margin-left: 210px;
  margin-bottom: 7px;
}

.logins{
  margin-left: 140px;

}

.register{
  font-size: 28px;
  margin-left: 72px;
}


@media screen  and (min-width:200px) and (max-width:767px) {
  .conatiner{
    display: flex;
    width: 100% important;
  }
}

.nav-link {
  font-size: 19px;
  color: black important;
}